@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Domine:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: black;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection{
  background: #db2777;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.disappear {
  transform: translateY(-800px);
}
.boxShadow {
  box-shadow: 2px 2px 14px rgb(233, 38, 71);
}
.rotate-270 {
  transform: rotate(413deg);
}
.navitems {
  background-color: #2c2b2b;
}
.mainBox {
  /* background-image: url("/src/images/background2.png"); */
  background-size: cover;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(149, 53, 143);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #af3cba;
}
.lanbtn {
  padding: 8px 12px;
  border-radius: 9px;
  position: absolute;
  z-index: 5;
  color: white;
  font-weight: 700;
  font-size: 12px;
}
.VenomName {
  font-family: "Cinzel", serif;
  /* font-family: 'Domine', serif; */
}
.para {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.basicSkills {
  font-family: "Nunito Sans", sans-serif;
}
.html:hover i {
  transform: translateY(-70px);
}
.css:hover i {
  transform: translateY(-70px);
}
.tailwind:hover i {
  transform: translateY(-70px);
}
.react:hover i {
  transform: translateY(-70px);
}
.javascript:hover i {
  transform: translateY(-70px);
}
.express:hover i {
  transform: translateY(-70px);
}
.nodejs:hover i {
  transform: translateY(-70px);
}
ul li{
  width: 5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li div {
  font-weight: 600;
}
.webName::before {
  content: "";
  width: 100px;
  height: 12px;
  background-color: rgb(250, 38, 74);
}

.webName:hover div {
  width: 100%;
}
.the:hover div {
  width: 100%;
}
.develo:hover div {
  width: 100%;
}
.BoxShadow {
  box-shadow: 3px 3px 12px #db2777;
}
.aboutName {
  font-family:  cursive,'Pacifico';
}
.basicSkills{
  font-family:  cursive,'Pacifico';

}

@media screen And (width:280) {
  .VenomName{
   font-size: 20px;
  }
}
